div.login-background
{
    background-size: cover;
    background-position: center;
    background-image: url(/student_img/mg1954-1532672731433945312958.jpg);
}

div.register-background
{
    background-size: cover; 
    background-position: center;
    background-image: url(/student_img/hoc_sinh_khac_sinh_vien.jpg);
}
div.margin-left-15
{
    margin-left: 15px;
}
